<div>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <a href="/" class="navbar-brand">Citation Tracker</a>
      </div>
    </nav>
    <header class="col-xs-12">
      <!--<h1><i class="fa fa-shield"></i> Good Samaritan Campus Police</h1>-->
      <h1 class="text-center" id="dept"><img class="patch" src="/dist/expandedPatch.svg"/> Good Samaritan Campus Police</h1>
    </header>
</div>