<div>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <span class="navbar-brand">Citation Tracker</span>
      </div>
    </nav>
    <header class="col-xs-12">
      <!--<h1><i class="fa fa-shield"></i> Good Samaritan Campus Police</h1>-->
      <h1><img class="patch" src="/dist/expandedPatch.svg"/> Good Samaritan Campus Police</h1>
      <h3>Citation Application</h3>
    </header>
</div>