<head>
    <title>GSHPD Citation App</title>
     
    <link type="text/css" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/dist/app.css">
    <!---Progressive Web App --->
    <link rel="manifest" href="manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="XCITE">
    <meta name="apple-mobile-web-app-title" content="XCITE">
    <meta name="theme-color" content="#333">
    <meta name="msapplication-navbutton-color" content="#333">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-starturl" content="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="icon" type="image/svg" sizes="24x24 48x48 96x96 128x128 192x192 256x256 512x512" href="/dist/expandedPatch.svg">
    <link rel="apple-touch-icon" type="image/png" sizes="96x96" href="/dist/GSHPD-patch.png">
    
</head>

